@font-face {
    src:url("../font/BMHANNAAir_ttf.ttf");
    font-family: hanna;
}

@font-face {
    src:url("../font/BMJUA_ttf.ttf");
    font-family: "jua";
}

body,
html {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: hanna;
}

input {
    font-family: hanna;
}

html {
    background: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    background-size: cover;
    background-position: center center;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.form {
    display: none;
}

input:focus{
    outline: none;
}

input::placeholder{
    color:white;
}

.showing {
    display: block;
    font-size: 30px;
}
