.name-input{
    background: none;
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.8);
    color: white;
    margin-bottom: 20px;
    height: 40px;
    font-size: 30px;
}

.js-greetings{
    margin-bottom: 20px;
    height: 40px;
    font-size: 30px;
}

.greetings{
    display: none;
}